body{
    margin-left: 30px;
}

h1{
    color: #f76ee7;
    text-align: center;
    font-weight: 900;
}

.save{
    border-radius: 0;
    background-color: azure;
    height: 20px;
    width: 30px;
}
html{
    background-color: rgb(196, 221, 244);

}

.user{
    font-size: 30px;
}

img{
    height:200px;
    width: 300px;
}

.content{
    font-size: 25px;
}

button{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9cdf4;
}

a{
    text-decoration: none;
}